.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}
.button {
	-fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}
.button.shadow {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button.play {
    -fx-background-color: linear-gradient(#4dff4d 0%, #1aff1a 25%, #00e600 75%, #00b300 100%);
}
.button.pause {
    -fx-background-color: linear-gradient(#ffc266 0%, #ffad33 25%, #ff9900 75%, #cc7a00 100%);
}
.button.stop {
    -fx-background-color: linear-gradient(#ff8080 0%, #ff4d4d 25%, #ff1a1a 75%, #e60000 100%);
}
.error {
    -fx-font-weight: bold;
    -fx-text-fill: red;
}